// -----------------------------------------------------------------------------
// Clearfix
// -----------------------------------------------------------------------------

.u-clearfix {
  @include clearfix;
}
