// -----------------------------------------------------------------------------
// List
// -----------------------------------------------------------------------------

// Ul reset list
@mixin reset-list() {
  padding: 0;
  margin: 0;
  list-style: none;
}
