// -----------------------------------------------------------------------------
// Visibiliyu
// -----------------------------------------------------------------------------

// Ul reset list
@mixin hide-element() {
  visibility: hidden;
  opacity: 0;
}

@mixin show-element() {
  visibility: visible;
  opacity: 1;
}
